.nav {
    color: white;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    background-color: black;
}

.nav > li {
    padding: 0 50px;
    display: inline-block;
}

.nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav > li > a:hover {
    color: lightgrey;
}

#novo, #filtrar {
    color: white;
    background-color: black;
}

#atual {
    color: grey;
}

#posterImg {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    display: none;
    position: fixed;
    margin-top: -300px;
    margin-left: -200px;
}

#barcodeImg {
    top: 50%;
    left: 50%;
    width: 226px;
    height: 100px;
    display: none;
    position: fixed;
    margin-top: -50px;
    margin-left: -113px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    cursor: default;
    border: 1px solid black;
}

tr:hover {
    color: white;
    background-color: black;
}

th {
    color: white;
    background-color: black;
}

td {
    text-align: center;
}

.titulo {
    font-weight: bold;
}

.imdbdiv {
    color: white;
    background-color: black;
}

#imdbdivfooter {
    color: black;
    font-weight: bold;
    background-color: white;
}

#adicionar {
    display: none;
    border: 1px solid black;
}

#footer {
    background-color: black; 
    color: white;
}