.nav {
    color: white;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    background-color: black;
}

.nav > li {
    padding: 0 50px;
    display: inline-block;
}

.nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav > li > a:hover {
    color: lightgrey;
}

#novo, #filtrar {
    color: white;
    background-color: black;
}

#atual {
    color: grey;
}

#regiaoBD, #regiaoDVD {
	display: inline-block;
}

#posterImg {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    display: none;
    position: fixed;
    margin-top: -300px;
    margin-left: -200px;
}

#barcodeImg {
    top: 50%;
    left: 50%;
    width: 226px;
    height: 100px;
    display: none;
    position: fixed;
    margin-top: -50px;
    margin-left: -113px;
}

#tblFilmes {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    cursor: default;
    border: 1px solid black;
}

tr:hover {
    color: white;
    background-color: black;
}

th {
    color: white;
    background-color: black;
}

td {
    text-align: center;
}

.titulo {
    font-weight: bold;
}

.imdbdiv {
    color: white;
    background-color: black;
}

#imdbdivfooter {
    color: black;
    font-weight: bold;
    background-color: white;
}

#addFilme {
    width: 93%;
    margin: auto;
    display: none;
    border: 1px solid black;
}

.imdblink {
    color: inherit;
    text-decoration: none;
}

#footer {
    background-color: black; 
    color: white;
}

#tblCds {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

#addCd {
    width: 80%;
    margin: auto;
    display: none;
    border: 1px solid black;
}

#tblQuadrinhos {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

.lido {
    padding: 0 10px 0 10px;
    border: none;
    outline: none;
    color: black;
}

#addQuadrinho {
    width: 85%;
    margin: auto;
    display: none;
    border: 1px solid black;
}

#botaoExistente {
    color: white;
    background-color: black;
}

#botaoNovo {
    color: white;
    background-color: black;
}

#tblMangas {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

.completo {
    width: 100%
}

.lido {
    padding: 0;
    border: none;
    outline: none;
    color: black;
}

#addManga {
    width: 25%;
    margin: auto;
    display: none;
    border: 1px solid black;
}

#addMangaNovo {
    width: 67%;
    margin: auto;
    display: none;
    border: 1px solid black;
}

.novoManga {
    display: none;
}
